---
layout: default
---

<header class="post-header">
<h1 class="post-title">{{ page.title | escape }}</h1>
</header>

<article class="post">

    <!-- <h1 class="page&#45;heading">Posts</h1> -->

    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</article>
