---
layout: default
---

<!-- 
<div class="well">
  <object data="/assets/resume-old.pdf#pagemode=0&navpanes=0&sidebar=0" type="application/pdf" width="100%" style="height:100vh" >
      <embed src="/assets/resume-old.pdf#pagemode=0&navpanes=0&sidebar=0"></embed>
  </object>
</div>
<div class="well">
    <a href="/assets/resume-old.pdf"><i class="fa fa-external-link" style="padding-right:3px;"></i>Download</a>
</div>
-->

<div class="well">
  <object data="/assets/Caceres%20Bravo%20-%20CV.pdf#pagemode=0&navpanes=0&sidebar=0" type="application/pdf" width="100%" style="height:100vh" >
      <embed src="/assets/Caceres%20Bravo%20-%20CV.pdf#pagemode=0&navpanes=0&sidebar=0"></embed>
  </object>
</div>
<div class="well">
    <a href="/assets/Caceres%20Bravo%20-%20CV.pdf"><i class="fa fa-external-link" style="padding-right:3px;"></i>Download</a>
</div>
<!-- 
-->

<!-- 
<div class="cv-well">
  <div class="list-group">
    <div class="list-group-item">
      <div class="row-action-primary">
          <i class="fa fa-external-link"></i>
      </div>
      <div class="row-content">
        <span class="cv-heading"><a href="/assets/cv.pdf">Download</a></span>
      </div>
    </div>
  </div>
</div>
-->
